@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
}

:root{
    --cor-padrao: red;
    --cor-cinza: #777;
    --cor-texto-padrao: #fff;
    --cor-nome-item-carrinho: #130f40;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1)
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding: 3rem 7%;
}

.titulo{
    font-size: 2.8rem;
    color: var(--cor-nome-item-carrinho);
    padding: 1.2rem 0;
    text-align: center;
    border-bottom: .1rem solid rgba(0,0,0,0.1);
}
.titulo span{
    color: var(--cor-padrao);
}

/* TOPO PAGINAS */

.topo-pagina{
    background: url(../img/topo-paginas-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
}
.topo-pagina h1{
    color: var(--cor-texto-padrao);
    font-size: 4rem;
}
.topo-pagina p{
    padding: 1rem;
    color: var(--cor-texto-padrao);
    font-size: 2rem;
}
.topo-pagina p a{
    padding-right: .5rem;
    color: gold;
    font-weight: bolder;
}

.btn{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--cor-padrao);
    background: none;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: .5rem;
    border: 1px solid var(--cor-padrao);
    cursor: pointer;
}
.btn:hover{
    color: var(--cor-texto-padrao);
    background: var(--cor-padrao);
}

/* INICIO CABEÇALHO DO SITE MAYKONSILVEIRA.COM.BR */
.topo-site{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background-color: var(--cor-padrao);
    box-shadow: var(--box-shadow);
}
.topo-site .logo{
    font-size: 2.5rem;
    color: var(--cor-texto-padrao);
    font-weight: bolder;
}
.topo-site .logo i{
    color: yellow;
    padding-right: .5rem;
    rotate: 165deg;
}
.topo-site .menu-site a{
    color: var(--cor-texto-padrao);
    font-size: 1.7rem;
    margin: 0 1rem;
}
.topo-site .menu-site a:hover,
.topo-site .icons div:hover
{
    color: yellow;
}
.topo-site .icons div{
    color: var(--cor-texto-padrao);
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}

#menu{
    display: none;
}

/* INICIO CARRINHO DO SITE MAYKONSILVEIRA.COM.BR */

.topo-site .carrinho{
    width: 35rem;
    background-color: var(--cor-texto-padrao);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 115%;
    right: -105%;
    padding: 2rem;
}
.topo-site .carrinho.active{
    right: 2rem;
    transition: .4s linear;
}

.topo-site .carrinho .box{
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    align-items: center;
}
.topo-site .carrinho .box .fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--cor-cinza);
    cursor: pointer;
}
.topo-site .carrinho .box .fa-times:hover{
    color: var(--cor-padrao);
}

.topo-site .carrinho .box img{
    height: 10rem;
}
.topo-site .carrinho .box .content h3{
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    color: var(--cor-nome-item-carrinho);
}
.topo-site .carrinho .box .content span{
    font-size: 1.7rem;
    color: var(--cor-cinza);
}
.topo-site .carrinho .box .content span.multiplica{
    margin: 0 .5rem;
}
.topo-site .carrinho .total{
    font-size: 2.2rem;
    color:var(--cor-nome-item-carrinho);
    text-align: center;
}
.topo-site .carrinho .btn{
    width: 100%;
    text-align: center;
}

/* INICIO LOGIN DO SITE MAYKONSILVEIRA.COM.BR */

.topo-site .login-form{
    width: 35rem;
    background-color: var(--cor-texto-padrao);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 115%;
    right: -105%;
    padding: 2rem;
}
.topo-site .login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.topo-site .login-form h3{
    font-size: 2.2rem;
    color: var(--cor-nome-item-carrinho);
    text-transform: uppercase;
    margin-bottom: .7rem;
    text-align: center;
}
.topo-site .login-form .box{
    margin: 0.7rem 0;
    padding: 1rem 1.2rem;
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    text-transform: none;
    color: var(--cor-nome-item-carrinho);
}
.topo-site .login-form .lembrar-senha{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0.7rem 0;
}
.topo-site .login-form .lembrar-senh label{
    font-size: 1.5rem;
    color: var(--cor-cinza);
    cursor: pointer;
}
.topo-site .login-form .btn{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

/* INICIO SLIDE DO SITE MAYKONSILVEIRA.COM.BR */

.slide-destaque{
    padding: 0;
}

.slide-destaque .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}
.slide-destaque .slide .content{
    display: none;
    width: 60rem;
    text-align: center;
    
}
.slide-destaque .slide .content h3{
    font-size: 6rem;
    line-height: 1.3;
    color: var(--cor-texto-padrao);
    padding: 2rem 0;
    animation: slider-content 1s ease forwards;
}
.slide-destaque .slide .content span{
    color: yellow;
}
.slide-destaque .slide .content .btn{
    background: var(--cor-padrao);
    color: var(--cor-texto-padrao);
}
.slide-destaque .slide .content .btn:hover{
    background-color: yellow;
    color: var(--cor-nome-item-carrinho);
    border: none;
    animation: slider-btn 1s ease forwards;
}
.slide-destaque .swiper-slide-active .content{
    display: inline-block;
}
.slide-destaque .swiper-slide-active{
    animation: slideScale 4s linear forwards;
}

@keyframes slider-content {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideScale {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.15);
    }
}

.swiper-button-prev,
.swiper-button-next{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    margin-left: 1.5rem;
    color: var(--cor-padrao);
    border: 1px solid var(--cor-padrao);
    transform: translateY(-50%) rotate(45deg);
}
.swiper-button-next{
    margin-right: 1.5rem;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 1rem;
    transform: rotate(-45deg);
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: var(--cor-texto-padrao);
    background-color: var(--cor-padrao);
}

/* DESTAQUES */
.destaque .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.destaque .box-container .box{
    position: relative;
    overflow: hidden;
    text-align: center;
    background: var(--cor-padrao);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.destaque .box-container .box .dest-img{
    width: 100%;
}
.destaque .box-container .box .dest-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destaque .box-container .box .content{
    padding: 2rem;
}
.destaque .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--cor-texto-padrao);
    margin-bottom: 1rem;
}

/* COMO FUNCIONA */
.como-funciona .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.como-funciona .box-container .box{
    flex: 1 1 25rem;
    text-align: center;
    padding: 1rem;
}
.como-funciona .box-container .box img{
    width: 170px;
    border:  1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.como-funciona .box-container .box h3{
    font-size: 2.1rem;
    color: var(--cor-nome-item-carrinho);
    padding: 1rem;
}

/* lOJA */
.loja .titulo{
    margin-bottom: 2.5rem;
}

.loja .box-container{
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap: 2.5rem;
}
.loja .box-container .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.loja .box-container .box img{
    height: 29rem;
    transition: .4s linear;
}
.loja .box-container .box:hover img{
    transform: scale(1.1);
}
.loja .box-container .box h3{
    font-size: 2.5rem;
    color: var(--cor-nome-item-carrinho);
    line-height: 1.8;
}
.loja .box-container .box p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    color: var(--cor-cinza);
    line-height: 1.8;
}
.loja .box-container .box .estrelas{
    padding: 1rem 0;
}
.loja .box-container .box .estrelas i{
    font-size: 1.7rem;
    color: gold;
}
.loja .box-container .box .loja-valor{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-right: 1rem;
    color: var(--cor-nome-item-carrinho);
}
.loja .box-container .box .loja-valor span{
    color: var(--cor-padrao);
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: line-through;
}
.loja .box-container .box .btn{
    margin-bottom: 1.5rem;
}

/* SOBRE A EMPRESA */
.empresa{
    background-color: var(--cor-padrao);
}
.empresa .row{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: var(--cor-padrao);
    align-items: center;
}
.empresa .row .empresa-img{
    flex: 1 1 32rem;
}
.empresa .row .empresa-img img{
    width: 100%;
    box-shadow: var(--box-shadow);
}
.empresa .row .content{
    flex: 1 1 50rem;
}
.empresa .row .content h3{
    font-size: 3.5rem;
    color: #fff;
}
.empresa .row .content h3 span{
    color: yellow;
}
.empresa .row .content p{
    font-size: 1.6rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 2;
}
.empresa .btn{
    color: #fff;
    border: 1px solid #fff;
}
.empresa .btn:hover{
    background-color: yellow;
    color: var(--cor-nome-item-carrinho);
    border: 1px solid var(--cor-nome-item-carrinho);
}

/* BLOG */
.blogs .titulo{
    margin-bottom: 2.5rem;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}
.blogs .box-container .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.blogs .box-container .box img{
    width: 100%;
    height: 25rem;
    transition: .4s linear;
    border-radius: .5rem;
    object-fit: cover;
    margin-top: 1rem;
}
.blogs .box-container .box .icons{
    display: inline-block;
    top: -2rem;
    background-color: var(--cor-padrao);
    padding: 1rem;
    border-radius: .5rem;
    position: relative;


    /* background-color: var(--cor-padrao);
    padding: 1rem 4rem;
    border-radius: .5rem;
    position: absolute;
    top: 27.5rem;
    left: 9%; */
}
.blogs .box-container .box .icons a{
    color: var(--cor-texto-padrao);
    font-size: 1.4rem;
    margin: 0 1rem;
    
    /* font-size: 1.5rem;
    color: var(--cor-texto-padrao);
    margin: 0 1rem; */
}
.blogs .box-container .box .icons a:hover{
    color: gold;
}

.blogs .box-container .box .icons a i{
    color: var(--cor-nome-item-carrinho);
    margin-right: .5rem;
    
    /* font-size: 1.8rem;
    color: var(--cor-nome-item-carrinho);
    margin-right: 1rem; */
}
.blogs .box-container .box h3{
    font-size: 2.5rem;
    color: var(--cor-nome-item-carrinho);
    line-height: 1.8;
}
.blogs .box-container .box p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    color: var(--cor-cinza);
    line-height: 1.8;
}
.blogs .box-container .box .btn{
    margin-bottom: 1.5rem;
}

/* RODAPE */
.rodape{
    background-color: var(--cor-padrao);
    text-align: center;
}
.rodape .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}
.rodape .box-container .box h3{
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--cor-texto-padrao);
    padding: 1rem 0;
}
.rodape .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: var(--cor-texto-padrao);
    padding: 1rem 0;
}
.rodape .box-container .box .rede-sociais{
    margin-top: 1rem;
}
.rodape .box-container .box .rede-sociais a{
    color: var(--cor-texto-padrao);
    border: .1rem solid var(--cor-texto-padrao);
    border-radius: 10%;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin-right: .3rem;
}
.rodape .box-container .box .rede-sociais a:hover{
    background-color: var(--cor-texto-padrao);
    color: var(--cor-nome-item-carrinho);
}
.rodape .box-container .box .link{
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    padding: .5rem 0;
    text-decoration: underline;
    color: var(--cor-texto-padrao);
}
.rodape .box-container .box .link:hover{
    color: gold;
}

.direitos{
    text-align: center;
    color: var(--cor-texto-padrao);
    font-size: 2rem;
    margin-top: 3rem;
    padding-top: 3rem;
    text-transform: capitalize;
    border-top: .1rem solid #fff;
}
.direitos span{
    color: gold;
}

/* GALERIA DE FOTOS */
.galeria-fotos .galeria-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.galeria-fotos .galeria-container .box{
    height: 30rem;
    position: relative;
    overflow: hidden;
}
.galeria-fotos .galeria-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.galeria-fotos .galeria-container .box .icon{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.7);
}
.galeria-fotos .galeria-container .box:hover .icon{
    display: flex;
}
.galeria-fotos .galeria-container .box i{
    font-size: 5rem;
    color: var(--cor-texto-padrao);
}

/* MENU DE COMPRAS DA PIZZARIA */
.menu .slider .titulo{
    padding: 1rem;
    font-size: 3rem;
    color: var(--cor-texto-padrao);
    background-color: var(--cor-padrao);
    margin-bottom: 3rem;
    text-align: center;
}
.menu .slider .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 4rem;
}
.menu .slider .box-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 38rem;
    gap: 1rem;
    background-color: #eee;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    transition: .2s linear;
}
.menu .slider .box-container .box:hover{
    transform: scale(.9);
    cursor: pointer;
}
.menu .slider .box-container .box h3{
    font-size: 2.2rem;
    color: var(--cor-nome-item-carrinho);
    padding-bottom: .5rem;
}
.menu .slider .box-container .box p{
    font-size: 1.4rem;
    color: #777;
    line-height: 2;
}
.menu .slider .box-container .box .valor{
    font-size: 2.2rem;
    color: var(--cor-padrao);
}

/* MODAL CARDÁPIO */
.menu-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 1100;
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-modal-container .menu-modal{
    background-color: #fff;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: .5rem;
    width: 35rem;
    
}
.menu-modal-container .menu-modal.active{
    display: inline-block;
}
.menu-modal-container .menu-modal h3{
    color: var(--cor-nome-item-carrinho);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.menu-modal-container .menu-modal .estrelas{
    margin-top: 0.5rem;
    
}
.menu-modal-container .menu-modal .estrelas i{
    color: gold;
    font-size: 1.7rem;
}
.menu-modal-container .menu-modal p{
    font-size: 1.5rem;
    color: #777;
    line-height: 2;
    padding: 1rem 0;
}
.menu-modal-container .menu-modal .valor{
    font-size: 2.5rem;
    color: #130f40;
    margin-bottom: 0.5rem;
}
#fechar{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#fechar:hover{
    transform: rotate(180deg);
    color: red;
}

/* PAGINA CONTATOS */
.contatos .icone-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.contatos .icone-box .icons{
    text-align: center;
    border: .1rem solid rgba(0,0,0,0.1);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
}
.contatos .icone-box .icons i{
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background-color: #eee;
    color: var(--cor-padrao);
    border-radius: 50%;
}
.contatos .icone-box .icons:hover i{
    background-color: var(--cor-padrao);
    color: var(--cor-texto-padrao);
}
.contatos .icone-box .icons h3{
    font-size: 2rem;
    color: var(--cor-nome-item-carrinho);
    padding: 1rem 0;
}
.contatos .icone-box .icons p{
    font-size: 1.5rem;
    color: #777;
    line-height: 2;
}
/* FORM CONTATO */
.contatos .row{
    margin-top: 2rem;
    text-align: center;
}
.contatos .row form{
    padding: 2rem;
    border: .1rem solid rgba(0,0,0,0.1);
    box-shadow: 0 .6rem 2.4rem rgba(0,0,0,0.5);
    border-radius: .5rem;
}
.contatos .row form h3{
    font-size: 2.5rem;
    padding-top: 1rem;
    color: #130f40;
}
.contatos .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contatos .row form .inputBox input{
    width: 49%;
}
.contatos .row form .inputBox .box,
.contatos .row form  textarea{
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: .1rem solid rgba(0,0,0,0.1);
    margin: 0.7rem 0;
    text-transform: none;
}
.contatos .row form  textarea{
    width: 100%;
    height: 15rem;
    resize: none;
}





@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem;
    }
    .topo-site{
        padding: 2rem;
    }
}
@media (max-width: 768px){
    .topo-site .icons #menu{
        display: inline-block;
    }
    .topo-site .menu-site{
        position: absolute;
        top: 115%;
        right: 110%;
        width: 30rem;
        background-color: var(--cor-padrao);
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
    }
    /* ABREMENU RESPONSIVO */
    .topo-site .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }
    .topo-site .menu-site a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
        color: #fff;
        border-bottom: 1px solid #fff;
        border-bottom-style: dotted;
        overflow: hidden;
    }
    .topo-site .menu-site a:hover{
        color: gold;
        font-weight: 600;
    }
    .slide-destaque .slide .content h3{
        font-size: 4rem;
    }
}

@media (max-width: 450px){
    
    html{
        font-size: 50%;
    }

    .slide-destaque .slide .content h3{
        font-size: 3.5rem;
    }

    .topo-site .menu-site a{
        color: #000;
        border-bottom: 1px solid #000;
        border-bottom-style: dotted;
    }
}



















